.FertilizerContainer {
    text-align: center;
    background-color: black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-color: #A9A9A9;
    border-style: solid;
    border-width: 1px;
    background-color: #D2D2D2;
    box-shadow: 2px 2px 5px #000000;
    overflow-y: scroll;
    scrollbar-base-color: white;
    scrollbar-face-color: white;
    scrollbar-3dlight-color: white;
    scrollbar-arrow-color: white;
    scrollbar-darkshadow-color: white;
    scrollbar-highlight-color: white;
    scrollbar-shadow-color: white;
    scrollbar-track-color: white;
}

.FertilizerControlContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 10px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-color: #A5A5A5;
    border-width:1px;
    border-style:solid;
        color: #D9D9D9;
        vertical-align:central;
        text-align:center;
}
